body {
    background-color:white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.invitation-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    color:orange;
    margin-bottom: 20px;
}

.details {
    background-color:white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.message {
    font-style: italic;
    margin: 10px 0;
}

button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:green;
}
